In [ ]:
print("soal1")
dadu = 6
kel1 = 3
jml1= kel1 / dadu 
print("hasil: " + str(jml1))

dadu = 6
kel2 = 2
jml2= kel2 / dadu 
print("hasil: " + str(jml2))

dadu = 6
kel3 = 4
jml3= kel3 / dadu 
print("hasil: " + str(jml3))

dadu = 6
kel4 = 5
jml4= kel4 / dadu 
print("hasil: " + str(jml4))

dadu = 6
kel5 = 6
jml5= kel5 / dadu 
print("hasil: " + str(jml5))

dadu = 6
kel6 = 1
jml6= kel6 / dadu 
print("hasil: " + str(jml6))

dadu = 6
kel7 = 5
jml7= kel7 / dadu 
print("hasil: " + str(jml7))

dadu = 6
kel8 = 6
jml8= kel8 / dadu 
print("hasil: " + str(jml8))

dadu = 6
kel9 = 3
jml9= kel9 / dadu 
print("hasil: " + str(jml9))

dadu = 6
kel10 = 2
jml10= kel10 / dadu 
print("hasil: " + str(jml10))

dadu = 6
kel11 = 2
jml11= kel11 / dadu 
print("hasil: " + str(jml11))

dadu = 6
kel12 = 1
jml12= kel12 / dadu 
print("hasil: " + str(jml12))

dadu = 6
kel13 = 3
jml13= kel13 / dadu 
print("hasil: " + str(jml13))

dadu = 6
kel14 = 1
jml14= kel14 / dadu 
print("hasil: " + str(jml14))

dadu = 6
kel15 = 5
jml15= kel15 / dadu 
print("hasil: " + str(jml15))
print("")

keseluruhan = jml1 + jml2 + jml3+ jml4 + jml5 + jml6 + jml7 + jml8 + jml9 + jml10 + jml11 + jml12 + jml13 + jml14 + jml15
print("Total nilai probabilitas dari semua percobaan	:" + str(keseluruhan))

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
print("soal2")
m1a = 6560860
m1b = 5950850
m1c = 12685900
m1d = 5768500
m1e = 2989000
jml = m1a + m1b + m1c + m1d + m1e
print("jumlah minggu 1: " + str(jml))

m2a = 8782150
m2b = 6620000
m2c = 5128750
m2d = 5217300
m2e = 4820600
jml2 = m2a + m2b + m2c + m2d + m2e
print("jumlah minggu 2: " + str(jml2))

m3a = 8130940
m3b = 2940650
m3c = 3488200
m3d = 6930540
m3e = 4319260
jml3 = m3a + m3b + m3c + m3d + m3e
print("jumlah minggu 3: " + str(jml3))

m4a = 12849100
m4b = 5752200
m4c = 5128400
m4d = 3880490
m4e = 4982100
jml4 = m4a + m4b + m4c + m4d + m4e
print("jumlah minggu 4: " + str(jml4))


fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
plt.title("Total tiap pendapatan perminggu")
eskul = ['minggu1', 'minggu2' ,'minggu3','minggu4']
siswa   = [33955110,30568800,25809590,32592290]
c = ['red','yellow','green','purple']
plt.title("ppdb smk al-madani garut")
ax.bar(eskul, siswa, color = c)
plt.show()

print("")
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
ax.axis('equal')
plt.title("Total tiap pendapatan perminggu")
eskul = ['minggu1', 'minggu2' ,'minggu3','minggu4']
siswa   = [33955110,30568800,25809590,32592290]
ax.pie(siswa,labels=eskul,autopct='1%.2f%%')
plt.show()


print("")
keseluruhan = jml + jml2 + jml3 + jml4
jml = keseluruhan / 11934
print("hasil :" +str(jml))